*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  
}

.navbar{
    color: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);;
    }

i{
    background-image: linear-gradient(to top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
.writer{
    
    
}


img{
    opacity: 0.9;
}

.about-writer{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
    padding: 20px 20px;
}
 .box{
     box-shadow: blanchedalmond;
 }

hr{
    background-color: rgba(0, 0, 0, 0.993);
    width: 250px;
    height: 3px;
    padding: 2px;
    margin: auto;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(56, 30, 4);
}

.about{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.button{
    width: 100px;
    height: 50px;
    padding: 10px;
    margin: 0 auto;

}
 .read-more-btn{
    width: 100px;
    height: 50px;
    padding: 10px;
    margin: 0 auto;
 }






